@model ClientDto
@{

}

<div class="text-center">
    <h1 class="display-4">Edit Client</h1>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-8">
            <input class="form-control" readonly value="@ViewData["Id"]">
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Gym</label>
        <div class="col-sm-8">
            <select class="form-select" asp-for="GymId">
                <option value="1">Cypress</option>
                <option value="2">Oliver</option>
                <option value="3">Desiard</option>
                <option value="4">Sterlington</option>
                <option value="5">Calhoun</option>
                <option value="6">North-7th</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Phone Number</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="PhoneNumber">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Coach ID</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="UserId">
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-4 d-grid">
            <a class="btn btn-outline-primary" asp-controller="Client" asp-action="Index" role="button">Cancel</a>
        </div>
    </div>

</form>
