@model ClientManager.Models.ClientNotesViewModel
    

@{
    ViewData["Title"] = "ClientNotes";
}

<div class="text-center">
    <h1 class="display-4">Client</h1>
    <a class="btn btn-primary" asp-route-id="@Model.Client.Id" asp-action="Create">Create New</a>
</div>
<table class="table">

    <thead>
        <tr>

            <th>Date Created</th>
            <th>Note</th>
            
            

        </tr>
    </thead>
    <tbody>
    @foreach (var notes in Model.Notes)
{
    if (notes != null)
    {
        <tr>
            <td>@notes.Created_Date</td>
            <td>@notes.Note_Content</td>

        </tr>
    }
    else
    {
        <tr>
            <td colspan="4">Client data is null</td>
        </tr>
    }
}
    </tbody>
</table>